<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{title}}</h3>
            <button class="modal-close" data-action="close-modal">×</button>
        </div>
        <div class="modal-body">
            {{{content}}}
        </div>
    </div>
</div>
